body {
  padding-top: 50px;
  background-color: #FCFCFC;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.modal-dialog {
  .certificate {
    font-size: 8px;
  }
}

#footer {
  left: 0;
  right: 0;
}

div#console {
  position: relative;
  pre#terminal {
    text-align: left;
    background-color: black;
    color: lightgray;
    line-height: 8px;
    font-size: 11px;
    margin-bottom: 0;

    span.command {
      font-size: 11px;
      font-weight: normal;
      color: antiquewhite;
    }
    span.label-success {
      background-color: darkgreen;
    }
    span.error {
      color: #d20709
    }
    span.server-command {
      color: saddlebrown;
      background-color: #343434;
    }
  }
  button#clear {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
